.mixin.out
cache
crash-reports
debug
defaults
downloads
llibrary
local
logs
output
pmdumper
resourcepacks
saves
screenshots
shaderpacks
/.curseclient
/*.json
/*.txt
/*.log
/libraries
/servers.dat
/mods/OptiFine_*.jar
/mods/**/*.disabled
/config/splash.properties
/config/jei/worldSettings.cfg
/config/multimob/modInformation
config/vanillafix/*