.mixin.out
cache
crash-reports
debug
defaults
downloads
libraries
llibrary
local
logs
output
pmdumper
saves
screenshots/*
!/screenshots/panoramas
shaderpacks
/*.json
/*.log
/*.lnk
/*.txt
/.curseclient
/.ReAuth.cfg
/servers.dat
/mods/1.12.2
/mods/memory_repo
/mods/OptiFine_*.jar
/mods/amidst-*.jar
/mods/**/*.disabled
/config/splash.properties
/config/UniqueNames.txt
/config/vanillafix/*
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/config/multimob/modInformation
/config/triumph/documentation
/structures/schematics
