.mixin.out
cache
crash-reports
debug
default
defaults
documentation
downloads
llibrary
local
logs
modInformation
output
pmdumper
resourcepacks
resources
saves
schematics
screenshots/*
!screenshots/panoramas
shaderpacks
/*.json
/*.log
/*.lnk
/*.txt
!/eula.txt
!/optionsshaders.txt
/.curseclient
/.ReAuth.cfg
/servers.dat
/mods/1.12.2
/mods/memory_repo
/mods/OptiFine_*.jar
/mods/amidst-*.jar
/mods/**/*.disabled
/config/vanillafix
/config/splash.properties
/config/UniqueNames.txt
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini