# remove squids from deserts, there's no water there
desertBiomes = forBiomesOfTypes("DESERT")
desertBiomes.removeSpawn("net.minecraft.entity.passive.EntitySquid", "WATER_CREATURE")

# and Mystical World mobs
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityBeetle", "CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityClam", "WATER_CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityDeer", "CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityFox", "CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityFrog", "CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityOwl", "CREATURE")
desertBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntitySprout", "CREATURE")

# change llama biomes
hillBiomes = forBiomesOfTypes("MOUNTAIN", "HILLS", "DRY", "SPARSE")
wetBiomes = forBiomesOfTypes("WET", "FOREST", "COLD")
planarBiomes = forBiomesOfTypes("PLANAR")
llamaBiomes = subtractFrom(hillBiomes, desertBiomes, wetBiomes, planarBiomes)
llamaBiomes.addSpawn("net.minecraft.entity.passive.EntityLlama", "CREATURE", 20, 3, 4)

# remove vanilla farm animals; will be replaced by Animania equivalents
allBiomes = forAllBiomes()
allBiomes.removeSpawn("net.minecraft.entity.passive.EntityChicken", "CREATURE")
allBiomes.removeSpawn("net.minecraft.entity.passive.EntityCow", "CREATURE")
allBiomes.removeSpawn("net.minecraft.entity.passive.EntityPig", "CREATURE")
allBiomes.removeSpawn("net.minecraft.entity.passive.EntityRabbit", "CREATURE")
allBiomes.removeSpawn("net.minecraft.entity.passive.EntitySheep", "CREATURE")
allBiomes.removeSpawn("net.minecraft.entity.passive.EntityMooshroom", "CREATURE")

# silklands should be weighted towards spiders
silkBiomes = forBiomes("environs:silk_wetlands")
silkBiomes.addSpawn("net.minecraft.entity.monster.EntitySpider", "MONSTER", 1000, 4,4)
silkBiomes.addSpawn("net.minecraft.entity.monster.EntityCaveSpider", "MONSTER", 500, 4,4)
silkBiomes.addSpawn("net.daveyx0.primitivemobs.entity.monster.EntityMotherSpider", "MONSTER", 400, 1,1)
silkBiomes.addSpawn("com.github.alexthe666.iceandfire.entity.EntityDreadScuttler", "MONSTER", 100, 1,1)

# and ghost forest should have ghosts
ghostBiomes = forBiomes("valoegheses_be:ghost forest")
ghostBiomes.addSpawn("vazkii.quark.world.entity.EntityWraith", "MONSTER", 100, 1,1)
ghostBiomes.addSpawn("svenhjol.charm.world.entity.EntitySpectre", "MONSTER", 1000, 4,6)

# mushroom biomes were missing normal mobs so they only had illagers. tone that down some
mushroomBiomes = forBiomesOfTypes("MUSHROOM")
mushroomBiomes.addSpawn("net.minecraft.entity.monster.EntityZombie", "MONSTER", 20, 4,4)
mushroomBiomes.addSpawn("net.minecraft.entity.monster.EntityVindicator", "MONSTER", 20, 1,1)
mushroomBiomes.addSpawn("net.minecraft.entity.monster.EntityWitch", "MONSTER", 1, 1,1)
mushroomBiomes.addSpawn("com.github.alexthe666.rats.server.entity.EntityIllagerPiper", "MONSTER", 1, 1,1)
mushroomBiomes.addSpawn("net.daveyx0.primitivemobs.entity.monster.EntityBrainSlime", "MONSTER", 1, 1,1)
mushroomBiomes.addSpawn("net.minecraft.entity.monster.EntityEnderman", "MONSTER", 5, 1,1)
mushroomBiomes.addSpawn("net.daveyx0.primitivemobs.entity.monster.EntityTrollager", "MONSTER", 1, 1,1)

# put fish and clams in more biomes 
oasisBiomes = forBiomesOfTypes("OASIS")
oasisBiomes.removeSpawn("thedarkcolour.futuremc.entity.fish.cod.EntityCod", "WATER_CREATURE")
oasisBiomes.addSpawn("thedarkcolour.futuremc.entity.fish.cod.EntityCod", "WATER_CREATURE", 10, 3, 6)

riverBiomes = forBiomesOfTypes("RIVER")
riverBiomes.removeSpawn("thedarkcolour.futuremc.entity.fish.salmon.EntitySalmon", "WATER_CREATURE")
riverBiomes.addSpawn("thedarkcolour.futuremc.entity.fish.salmon.EntitySalmon", "WATER_CREATURE", 10, 3, 6)

beachBiomes = forBiomesOfTypes("BEACH")
beachBiomes.removeSpawn("thedarkcolour.futuremc.entity.fish.tropical.EntityTropicalFish", "WATER_CREATURE")
beachBiomes.removeSpawn("thedarkcolour.futuremc.entity.fish.pufferfish.EntityPufferfish", "WATER_CREATURE")
beachBiomes.addSpawn("thedarkcolour.futuremc.entity.fish.tropical.EntityTropicalFish", "WATER_CREATURE", 25, 8,8)
beachBiomes.addSpawn("thedarkcolour.futuremc.entity.fish.pufferfish.EntityPufferfish", "WATER_CREATURE", 5, 1,3)

oceanBiomes = forBiomesOfTypes("OCEAN")
oceanBiomes.removeSpawn("epicsquid.mysticalworld.entity.EntityClam", "WATER_CREATURE")
oceanBiomes.addSpawn("epicsquid.mysticalworld.entity.EntityClam", "WATER_CREATURE", 14, 1, 1)

# put pandas in bamboo forests
bambooForest = forBiomes("biomesoplenty:bamboo_forest")
bambooForest.addSpawn("thedarkcolour.futuremc.entity.panda.EntityPanda", "CREATURE", 40, 2, 4)

# more enderbeings in End Forest
endForests = forBiomes("environs:end_forest", "environs:floating_end_forest")
endForests.addSpawn("epicsquid.mysticalworld.entity.EntityEndermini", "CREATURE", 50, 1,1)
endForests.addSpawn("net.daveyx0.primitivemobs.entity.monster.EntityVoidEye", "MONSTER", 20, 1,1)