allBiomes = forAllBiomes()

# Sandstone replacement
# that's right, the red sand dunes get sandstone and the regular sand dunes get red standstone. It makes for a neat, stripy visual effect.

redSandDunes = forBiomes("valoegheses_be:red sand dunes")
redSandDunes.registerGenBlockRep("minecraft:stone", "minecraft:sandstone")
redSandDunes.addActualFillerBlock("minecraft:sandstone")

sandDunes = forBiomes("valoegheses_be:sand dunes")
sandDunes.registerGenBlockRep("minecraft:stone", "minecraft:red_sandstone")
sandDunes.addActualFillerBlock("minecraft:red_sandstone")

wnDunes = forBiomes("wildnature:dunes")
wnDunes.registerGenBlockRep("minecraft:stone", "minecraft:sandstone")
wnDunes.addActualFillerBlock("minecraft:sandstone")
wnDunes.set("fillerBlock", "minecraft:sand")


# Volcano stone replacement

wnVolcano = forBiomes("wildnature:volcano")
wnVolcano.registerGenBlockRep("minecraft:stone", "wildnature:darkstone")
wnVolcano.addActualFillerBlock("wildnature:darkstone")


# Glacier stone replacement

glacier = forBiomes("wildnature:glacier")
glacier.registerGenBlockRep("minecraft:stone", "wildnature:frozen_stone")
glacier.addActualFillerBlock("wildnature:frozen_stone")


# WildNature stone replacement

Tweaker.setPlacementStage("PRE_POPULATE") # WildNature stone generation is kinda bonkers, and this is the only stage I can find that does anything at all

stoneRep = newBlockReplacement()
andesite = forBlock("minecraft:stone")
andesite.setProperty("variant", "andesite")
stoneRep.set("block", andesite)
stoneRep.set("ignoreMeta", true)

allBiomes.registerGenBlockRep("wildnature:basalt", stoneRep)
allBiomes.registerGenBlockRep("wildnature:carbonatite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:chalk", stoneRep)
allBiomes.registerGenBlockRep("wildnature:conglomerate", stoneRep)
allBiomes.registerGenBlockRep("wildnature:dolomite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:epidosite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:gabbro", stoneRep)
allBiomes.registerGenBlockRep("wildnature:gneiss", stoneRep)
allBiomes.registerGenBlockRep("wildnature:gypsum", stoneRep)
allBiomes.registerGenBlockRep("wildnature:limestone", stoneRep)
allBiomes.registerGenBlockRep("wildnature:marble", stoneRep)
allBiomes.registerGenBlockRep("wildnature:monzonite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:pegmatite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:phyllite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:pumice", stoneRep)
allBiomes.registerGenBlockRep("wildnature:pyroxenite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:rhyolite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:slate", stoneRep)
allBiomes.registerGenBlockRep("wildnature:syenite", stoneRep)
allBiomes.registerGenBlockRep("wildnature:umber", stoneRep)